#title {
    background-color: peachpuff;
    text-align: center;
    width: auto;
    font-size: 30px;
}

#recipe-list {
    border: 5px solid rgb(144, 25, 148);
    width: fit-content;
    padding: 5px;
    margin: 0px auto;
}

.omelette {
    display: inline-block;
    box-sizing: border-box;
    color: blue;
    padding: 20px;
    font-size: 20px;
    margin: 5px;
    background-color: rgb(231, 231, 34);
}

.smoothie {
    box-sizing: border-box;
    color: blue;
    font-size: 20px;
    padding: 20px;
    margin: 5px;

    background-color: rgb(155, 155, 216);
}